
#wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  height: 100vh;
  text-align: center;

  input{
    margin-top: 20px;
    text-align: center;
  }
}

#button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#invalid{
  color: red;
  margin-top: 15px;
}
