:host{
  padding: 10px;
}

header{
  display: flex;
  gap: 15px;
  justify-content: space-between;

  h1{
    margin: 0;
  }

  img#back{
    width: 45px;
    cursor: pointer;
  }

  img#delete{
    width: 45px;
    height: 45px;
    padding: 2px;
    cursor: pointer;
  }

  padding: 0 10px 10px;
  border-bottom: 1px solid lightgray;

}

small{
  padding: 10px 0 0 60px;
  width: 100%;
  display: block;
}

main{
  display: flex;
  font-size: 5rem;
  gap: 20px;
  justify-content: center;
  padding-top: 50px;
  color: #5e5e5e;

  #up-wrapper {
    cursor: pointer;

    #up {
      color: blueviolet;

      &:hover{
        color: blue;
      }
    }
  }

  #down{
    color: orangered;
    cursor: pointer;

    &:hover{
      color: darkred;
    }
  }
}
