<br><br><br>

<h1 style="text-align: center">Dashboard</h1>
<br>
<form style="width: 500px" class="container">
  <div class="form-group">

    <input style="text-align: center" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter a new title for the poll">
    <!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <br>

  <br>
  <div class="container">
    <div class="vertical-center">
      <button  type="submit" class="btn btn-primary" (click)="createPoll()">Submit</button>
    </div>
  </div>

</form>

<br><br>
<main>
  <app-poll *ngFor="let a of numbers"></app-poll>
<h2 *ngIf="polls.length==0" class="text-center text-black">Create a new poll for get started</h2>

</main>
